<%- include("./partials/header") -%>



  <div class="result-container">
    <h2><%= cityName %> Weather Information</h2>
    <p>Temperature: <%= temp %> &#8451;</p>
    <p>Description: <%= discription %></p>
    <img src="<%= imgurl %>" alt="City Weather">
  </div>


  <%- include("./partials/footer") -%>